<div class='new-category'>
  <h1>New category</h1>

  <%= render "form", category: @category %>

  <br>

  <div class='back button-primary'>
    <%= link_to "Back to categories", categories_path %>
  </div>
</div>
